.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}
.btn-container{
    margin: 20px;
}
.nav-btn{
    display: flex;
    justify-content: space-between
}

.input{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
p{
    color: red;
}
.small{
    display: flex;
    flex-direction: row;
}
.smin{
    width: 50px;
}
form{
    border-bottom: 1px solid grey;
}