<div class="card-container">
  <form [formGroup]="addForm" (ngOnSubmit)="onSubmit()">
    <div class="btn-container">
      <button (click)="addCard()">Add Credit Card</button>
      <div *ngFor="let item of cardList">
        <app-card-list></app-card-list>
      </div>
    </div>
    <div class="btn-container">
      <button (click)="openBilling=true">Add Billing Address</button>
      <div class="card-content" *ngIf="openBilling">
        <div class="input">
          <label>City</label>
          <input type="text" formControlName="city" required>
        </div>
        <div class="input">
          <label>Street</label>
          <input type="text" formControlName="street" required>
        </div>
        <div class="input">
          <label>Apartment</label>
          <input type="text" formControlName="apartment" required>
        </div>
        <div class="input">
          <label>Phone Number</label>
          <input type="number" formControlName="phoneNumber" required>
        </div>
      </div>
    </div>
    <div class="nav-btn">
      <button (click)="goBack()">Back</button>
      <button type="submit" (click)="isSubmited=true">Next</button>
    </div>
  </form>
</div>
