form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.form-group{
    display: inherit;
    flex-direction: column;
}
.btn{
flex-direction: flex-end;
}

.button{
    display: flex;
}


p{
    color: red;
}